Exercise 1

In [9]:
#Exercise 1: Project 4 data cleaning
# 1. Read the excel file using the pandas library
# 2. Apply at least three data cleaning techniques of which you think are suitable for the data set. You can choose from the ones above, or think of a technique yourself.
# 3. Structure your code by combining all functionalities into a function. This function should return the cleaned data set
import pandas as pd
import numpy as np

#exercise 1,3
def clean_data(file_name):
    """ This function takes a file name as argument and creates a dataframe from it
    Then it will clean the data using 3 techniques"""

    #exercise 1.1
    data = pd.read_excel(file_name, sheet_name="20000-211000")

    #exercise 1.2
    # 1.2.1 Making everything lower case for consistency 
    data['1c. Brand name'] = data['1c. Brand name'].str.lower()
    data['Customer Classification (CRM)'] = data['Customer Classification (CRM)'].str.lower()
    data['Horeca menu webshop'] = data['Horeca menu webshop'].str.lower()
    data['Horeca menu webshop'] = data['Horeca menu webshop'].str.lower()

    # 1.2.2 If there are missing values to input nan values (in case of missing sales), can also be means but in this case use nan because we're unsure if HL was sold or not
    data['HL IN 2018'].fillna(np.nan, inplace=True) 
    data['HL IN 2019'].fillna(np.nan, inplace=True) 
    data['HL IN 2020'].fillna(np.nan, inplace=True) 
    data['HL IN 2021'].fillna(np.nan, inplace=True) 

    # 1.2.3 dropping any duplicate rows
    data.drop_duplicates(inplace= True)

    return data


clean_data = clean_data('dataProject4.xlsx')
print(clean_data.head(5))

   2f. Customer number Postal Code Customer Classification (CRM)  \
0               200001     5735 SC                       voetbal
1               200001     5735 SC                       voetbal
2               200001     5735 SC                       voetbal
3               200001     5735 SC                       voetbal
4               200001     5735 SC                       voetbal

    Horeca menu webshop Prd. name Webshop 1c. Brand name  Contents  \
0  bier - alcoholvrij/a               0.0           palm      0.25
1  bier - alcoholvrij/a           0.0 IPA        bavaria      0.30
2  bier - alcoholvrij/a      0.0 Original        bavaria      0.30
3  bier - alcoholvrij/a        0.0 Radler        bavaria      0.30
4  bier - alcoholvrij/a           0.0 Wit        bavaria      0.30

   HL IN 2018  HL IN 2019  HL IN 2020  HL IN 2021  HL IN 2022
0         0.0       0.000       0.060       0.000      0.0000
1         0.0       0.072       0.144       0.000      0.0000
2         0.0       0.000       0.000       0.072      0.4320
3         0.0       0.792       0.360       0.180      0.4320
4         0.0       0.000       0.000       0.000      0.0864

Exercise 2

In [36]:
#You have been given a file about hotel bookings, you can find these data in the file
#‘hotelBookings.xlsx’. These data contain the number of bookings of the hotel ‘Resort Hotel’,
#which is spread over different countries. This file contains a lot of errors, and needs to be
#cleaned. For this exercise, you need to read the Excel file, analyse the data, find as many
#mistakes as possible and correct them. In particular:
#1. Read the excel file using the pandas library
#2. Inspect the data and find as many mistakes you can.
#3. Clean the data, which decisions did you make to solve the errors?

#reading dataframe
df_hotel=pd.read_excel('hotelBookings.xlsx')
print(df_hotel.shape)
df_hotel.head(5)

(1000, 32)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0.0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0.0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1.0,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1.0,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2.0,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [37]:
#dropping duplicates (keeping every first entry) and checking for missing values
if df_hotel.duplicated().any():
    print("Warning: The data contains duplicate rows.")
    #remove duplicate rows
    print(df_hotel.duplicated().sum())
    df_hotel=df_hotel.drop_duplicates()
    print("Duplicates removed.")
else:
    print("No duplicates found")

if df_hotel.isnull().values.any():
    print("Warning: The data contains missing values.")
else:
    print("No missing values found")

#i would print the duplicates first to inspect but this works just fine
#we will handle missing data later
print(df_hotel.shape)

Warning: The data contains duplicate rows.
57
Duplicates removed.
Warning: The data contains missing values.
(943, 32)

In [40]:
#seeing where we have missing values 
print(df_hotel.isnull().sum()) 

#arrival date month - dropping all 14, since check in date is important and its hard to calculate beased on week number (maybe someday ill do this but laziness got the best of)
#country - one missing, dropping
#agent - not dropping, there's no way to calculate an 'average', but it is also not as important as other data imo; also by dropping like 100 rows we would lose other valuable data
#company - basically 99% missing, but not dropping any rows because of it
df_hotel=df_hotel.drop(df_hotel[df_hotel['arrival_date_month'].isnull()].index)
df_hotel=df_hotel.drop(df_hotel[df_hotel['country'].isnull()].index)
print(df_hotel.shape)

#for whatever reason you have to run this code twice

hotel                               0
is_canceled                         0
lead_time                           0
arrival_date_year                   0
arrival_date_month                  0
arrival_date_week_number            0
arrival_date_day_of_month           0
stays_in_weekend_nights             0
stays_in_week_nights                0
adults                              0
children                            0
babies                              0
meal                                0
country                             0
market_segment                      0
distribution_channel                0
is_repeated_guest                   0
previous_cancellations              0
previous_bookings_not_canceled      0
reserved_room_type                  0
assigned_room_type                  0
booking_changes                     0
deposit_type                        0
agent                              90
company                           917
days_in_waiting_list                0
customer_type                       0
adr                                 0
required_car_parking_spaces         0
total_of_special_requests           0
reservation_status                  0
reservation_status_date             0
dtype: int64
(928, 32)

In [42]:
#filtering out extreme values, but also checking unique values in every column first 
column_list = df_hotel.columns.values.tolist()
for column_name in column_list:
    if column_name != 'reservation_status_date' and column_name != 'adr' : #these lists were too long
        print(column_name, df_hotel[column_name].unique())

#did you know that the mom of most children had 69 babies?? im dropping any entry with over 70 children
df_hotel=df_hotel.drop(df_hotel[df_hotel['adults'] > 70].index | df_hotel[df_hotel['children'] > 70].index)
#2099 is the year when im gonna finish this assignment
df_hotel=df_hotel.drop(df_hotel[df_hotel['arrival_date_year'] == 2099].index)
#theres people that spent a non integer number of nights at the hotel and if that is true they should be billed accordingly
df_hotel=df_hotel.drop(df_hotel[df_hotel['stays_in_week_nights'] == 4.3].index) #i couldnt find a function that sorts by data type (keep only integers)
#country numbers 2 and 3 dont make sense
df_hotel=df_hotel.drop(df_hotel[df_hotel['country'] == 2].index | df_hotel[df_hotel['country'] == 3].index)

df_hotel.shape
#i dont know what the units of measurement is for lead time, adr (what even is that), agent or company is so i cant tell if they are wrong data entries or outliers or whatnot

hotel ['Resort Hotel']
is_canceled [0 1]
lead_time [342 737   7  13  14   9  85  75  23  35  68  18  37  12   0  72 127  78
  48  60  77  99  95  96  69  45  40  15  36  43  70  16 107  47 113  90
  50  93  76   3   1  10   5  17  51  71  63  62 101   2  81 368 364 324
  79  21 109 102   4  98  92  26 115  86  52  30  73  33  32   8 100  44
  80  97  64  39  34  29  27  82  94 110 111  84  66 104  28 258 112  67
  55  88  54 292  83 105 280 394  24 103 366 249  22  91  11 108 106  31
  87 304 117  59  53 116  42  58 321  38 118  56  41  49 317   6  57  19
  65  25 315 123  46  89  61 312 299 130  74 298 119  20 286 136 124 327
 131 460 140 114 139 129 122 137 126]
arrival_date_year [2015]
arrival_date_month ['July' 'August']
arrival_date_week_number [27 28 29 30 31 32 33]
arrival_date_day_of_month [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
stays_in_weekend_nights [0 1 2 4 3 6]
stays_in_week_nights [ 0.  1.  2.  3.  4.  5. 11.  8. 10.  6.  7. 15.  9.]
adults [2 1 3 4]
children [ 0  1  2 10]
babies [0 1 2]
meal ['             BB' 'BB' 'FB' '    HB']
country ['PRT' 'GBR' 'USA' 'ESP' 'IRL' 'FRA' '  ROU' 'NOR' 'OMN' 'ARG' 'POL' 'DEU'
 'BEL' 'CHE' 'CN' 'GRC' 'ITA' 'NLD' 'DNK' 'RUS' 'SWE' 'AUS' 'EST' 'BRA'
 'FIN' 'MOZ' 'BWA' 'LUX' 'SVN' 'ALB' 'IND' 'CHN' 'MEX']
market_segment ['Direct' 'Corporate' 'Online TA' 'Offline TA/TO' 'Complementary'
 'G  ROUps']
distribution_channel ['Direct' 'Corporate' 'TA/TO']
is_repeated_guest [0]
previous_cancellations [0]
previous_bookings_not_canceled [0]
reserved_room_type ['C' 'A' 'D' 'E' 'G' 'F' 'H' 'L']
assigned_room_type ['C' 'A' 'D' 'E' 'G' 'F' 'I' 'B' 'H']
booking_changes [3 4 0 1 2 5]
deposit_type ['No Deposit']
agent [ nan 304. 240. 303.  15. 241.   8. 250. 115.   5. 175. 134. 156. 243.
 242.   3. 105.  40. 147. 306. 184.  96.   2.  95. 146.   9. 177.   6.
 143. 244. 167. 300. 171. 305.  67. 196. 152. 142. 261. 104.  36. 149.
 127.]
company [ nan 110. 113. 270. 178. 240. 154. 144.]
days_in_waiting_list [0]
customer_type ['Transient' 'Contract' 'Transient-Party' 'G  ROUp']
required_car_parking_spaces [0 1 2]
total_of_special_requests [0 1 3 2 4]
reservation_status ['Check-Out' 'Canceled' 'No-Show']

C:\Users\Karina\AppData\Local\Temp\ipykernel_18592\925134583.py:8: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  df_hotel=df_hotel.drop(df_hotel[df_hotel['adults'] > 70].index | df_hotel[df_hotel['children'] > 70].index)
C:\Users\Karina\AppData\Local\Temp\ipykernel_18592\925134583.py:14: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  df_hotel=df_hotel.drop(df_hotel[df_hotel['country'] == 2].index | df_hotel[df_hotel['country'] == 3].index)

(917, 32)

In [43]:
#adding some interesting information
df_hotel['nights_in_hotel'] = df_hotel['stays_in_weekend_nights'] + df_hotel['stays_in_week_nights']
df_hotel['number_guests'] = df_hotel['adults'] + df_hotel['children']+df_hotel['babies']

#i also thought these entries may be wrong
df_hotel=df_hotel.drop(df_hotel[df_hotel['number_guests'] == 0].index) #these are useless entries
df_hotel=df_hotel.drop(df_hotel[(df_hotel['nights_in_hotel']==0) & (df_hotel['reservation_status']=='Check-Out')].index)

df_hotel.shape
#and it did drop 20 entries!

(897, 34)

In [44]:
from datetime import datetime
df_hotel['reservation_status_date'] = pd.to_datetime(df_hotel['reservation_status_date'])
#converting to standard date-time format

In [45]:
df_hotel['arrival_date_month'].replace('July', '07', inplace=True) 
df_hotel['arrival_date_month'].replace('August', '08', inplace=True)
df_hotel.head()
#i use this to convert the month into the standard date-month format in an easier way

df_hotel['arrival_date'] = df_hotel['arrival_date_day_of_month'].astype(str)+'-'+df_hotel['arrival_date_month'].astype(str)+'-'+df_hotel['arrival_date_year'].astype(str)
df_hotel['arrival_date'] = pd.to_datetime(df_hotel['arrival_date'])
df_hotel.head()
#now we have a nice and clean column for arrival date! i still dont know how to move it to the front of the dataframe but its nice so far

C:\Users\Karina\AppData\Local\Temp\ipykernel_18592\120247415.py:7: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_hotel['arrival_date'] = pd.to_datetime(df_hotel['arrival_date'])

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,nights_in_hotel,number_guests,arrival_date
2,Resort Hotel,0,7,2015,07,27,1,0,1.0,1,...,0,Transient,75.0,0,0,Check-Out,2015-07-02,1.0,1,2015-01-07
3,Resort Hotel,0,13,2015,07,27,1,0,1.0,1,...,0,Transient,75.0,0,0,Check-Out,2015-07-02,1.0,1,2015-01-07
4,Resort Hotel,0,14,2015,07,27,1,0,2.0,2,...,0,Transient,98.0,0,1,Check-Out,2015-07-03,2.0,2,2015-01-07
7,Resort Hotel,0,9,2015,07,27,1,0,2.0,2,...,0,Transient,103.0,0,1,Check-Out,2015-07-03,2.0,2,2015-01-07
8,Resort Hotel,1,85,2015,07,27,1,0,3.0,2,...,0,Transient,82.0,0,1,Canceled,2015-05-06,3.0,2,2015-01-07

In [46]:
#i saw multiple types of null NULL nan and whatever so i wanted to make sure they are all the same to be interpreted correctly (now they are only in the agent and company columns)
df_hotel.replace('null', 'NULL', inplace=True)

In [47]:
#weird spaces before and after words make filtering through the data a nightmare
df_hotel.loc[df_hotel['country'] == '  ROU', 'country'] = 'ROU' #romanians are always causing troubles
df_hotel.loc[df_hotel['meal'] == '    HB', 'meal'] = 'HB'
df_hotel.loc[df_hotel['meal'] == '             BB', 'meal'] = 'BB'
df_hotel.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,nights_in_hotel,number_guests,arrival_date
2,Resort Hotel,0,7,2015,07,27,1,0,1.0,1,...,0,Transient,75.0,0,0,Check-Out,2015-07-02,1.0,1,2015-01-07
3,Resort Hotel,0,13,2015,07,27,1,0,1.0,1,...,0,Transient,75.0,0,0,Check-Out,2015-07-02,1.0,1,2015-01-07
4,Resort Hotel,0,14,2015,07,27,1,0,2.0,2,...,0,Transient,98.0,0,1,Check-Out,2015-07-03,2.0,2,2015-01-07
7,Resort Hotel,0,9,2015,07,27,1,0,2.0,2,...,0,Transient,103.0,0,1,Check-Out,2015-07-03,2.0,2,2015-01-07
8,Resort Hotel,1,85,2015,07,27,1,0,3.0,2,...,0,Transient,82.0,0,1,Canceled,2015-05-06,3.0,2,2015-01-07

In [48]:
#df_hotel.to_excel('hotel.xlsx') #to scan everything one last time

#in the end, this is a list of the few mistakes i found and hopefully fixed properly:

#remove duplicate values
#filtered out extreme values like a thousand children
#filtered out wrong data entries like year 2099 or country 2
#checked for the guest number and nights in hotel to be more than 0 
#made a column for total guests and total nights
#fixed unnecessary spaces before and after data entries
#null vs NULL
#converted dates to standard format and made a new column for arrival date

Exercise 3

In [ ]:
import pandas as pd 


def data_analysis(file_name):

    """Takes in the data, analyzes it and outputs an excel file with the result"""

    #Exerise 3.1 
    data = pd.read_excel(file_name)

    #Exercise 3.2
    #total sales per category 
    category_sales_total = data.groupby('Category')['Sales'].sum()
    sales_total = data['Sales'].sum()
    category_percentage = (category_sales_total / sales_total * 100).round(2)




    #Exercise 3.3 

    
    #Exercise 3.4

Exercise 4

In [12]:
#pip install langdetect

Requirement already satisfied: langdetect in c:\users\karina\anaconda3\lib\site-packages (1.0.9)
Requirement already satisfied: six in c:\users\karina\anaconda3\lib\site-packages (from langdetect) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [49]:
import pandas as pd
from langdetect import detect, detect_langs

#read file
df_tweets=pd.read_excel('tweets.xlsx')
df_tweets.head(5)

,Tweet ID,Country,Date,Tweet,Definitely English,Ambiguous,Definitely Not English,Code-Switched,Ambiguous due to Named Entities,Automatically Generated Tweets
0,434215992731136000,TR,2014-02-14,BugÃ¼n bulusmami lazimdiii,0,0,1,0,0,0
1,285903159434563008,TR,2013-01-01,Volkan konak adami tribe sokar yemin ederim :D,0,0,1,0,0,0
2,285948076496142016,NL,2013-01-01,Bed,1,0,0,0,0,0
3,285965965118824000,US,2013-01-01,I felt my first flash of violence at some fool...,1,0,0,0,0,0
4,286057979831275008,US,2013-01-01,Ladies drink and get in free till 10:30,1,0,0,0,0,0

In [50]:
#testing is essential!
detect('viata e o ciorba si eu sunt o furculita')
#i love this function

'ro'

In [51]:
#Exercise 4.1
#here i iterate through all tweets (expect for the ones where we definitely know its english) and applying the language detect function into a new column, with the exception of 'unknown' languages in tweets that give errors
df_tweets['Language']=''
for index in df_tweets.index:
    if df_tweets.loc[index, 'Definitely English']==1:
        df_tweets.loc[index, 'Language']='en'
    else:
        try:
            lang=detect(df_tweets.loc[index, 'Tweet'])
            df_tweets.loc[index, 'Language']=lang
        except:
            df_tweets.loc[index, 'Language']='unknown'
df_tweets.head()

,Tweet ID,Country,Date,Tweet,Definitely English,Ambiguous,Definitely Not English,Code-Switched,Ambiguous due to Named Entities,Automatically Generated Tweets,Language
0,434215992731136000,TR,2014-02-14,BugÃ¼n bulusmami lazimdiii,0,0,1,0,0,0,tr
1,285903159434563008,TR,2013-01-01,Volkan konak adami tribe sokar yemin ederim :D,0,0,1,0,0,0,tr
2,285948076496142016,NL,2013-01-01,Bed,1,0,0,0,0,0,en
3,285965965118824000,US,2013-01-01,I felt my first flash of violence at some fool...,1,0,0,0,0,0,en
4,286057979831275008,US,2013-01-01,Ladies drink and get in free till 10:30,1,0,0,0,0,0,en

In [4]:
#pip install textblob

In [52]:
#Exercise 4.2
from textblob import TextBlob

def analyze_sentiment_english(tweet):
    '''this function uses the textblob library to analyze the sentiment of a tweet; this function is only applied to english tweets'''
    blob=TextBlob(tweet)
    polarity=blob.sentiment.polarity
    if polarity > 0:
        sentiment = "positive"
    elif polarity < 0:
        sentiment = "negative"
    else:
        sentiment = "neutral"
    return sentiment

In [53]:
analyze_sentiment_english('the government is corrupt')
#testing worked out

'negative'

In [7]:
#pip install nltk

In [55]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
#nltk.download('vader_lexicon')

def analyze_sentiment_other(tweet):
    '''this function uses the SentimentIntensityAnalyzer package to analyze the sentiment of a tweet; this function will be applied to other languages than english'''
    sia = SentimentIntensityAnalyzer()
    compound_score = sia.polarity_scores(tweet)
    total_score=compound_score['compound']
    if total_score>=0.05:
        return 'positive'
    elif total_score<=-0.05:
        return 'negative'
    else:
        return 'neutral'

In [56]:
analyze_sentiment_other('i do not like karina')

'negative'

In [57]:
#here we iterate through the tweets and choose which function to apply depending on its detected language; unknown languages are not analyzed (for obvious reasons)
df_tweets['Sentiment']=''
for index in df_tweets.index:
    if df_tweets.loc[index, 'Language']=='en':
        sentiment=analyze_sentiment_english(df_tweets.loc[index, 'Tweet'])
        df_tweets.loc[index, 'Sentiment']=sentiment
    elif df_tweets.loc[index, 'Language']=='unknown':
        df_tweets.loc[index, 'Sentiment']='unknown'
    else:
        sentiment=analyze_sentiment_other(df_tweets.loc[index, 'Tweet'])
        df_tweets.loc[index, 'Sentiment']=sentiment

In [58]:
#i feel like i should have dropped all the columns at the beginning so the code loads faster :(
df_output_tweets=df_tweets[['Tweet', 'Language', 'Sentiment']]
df_output_tweets.head(20)
#df_tweets.to_excel('tweets_analyzed.xlsx')

                                                Tweet Language Sentiment
0                          BugÃ¼n bulusmami lazimdiii       tr   neutral
1      Volkan konak adami tribe sokar yemin ederim :D       tr  positive
2                                                 Bed       en   neutral
3   I felt my first flash of violence at some fool...       en  positive
4             Ladies drink and get in free till 10:30       en  positive
5                    @Melanynijholtxo ahhahahahah dm!       so   neutral
6                                                Fuck       de  negative
7   Watching #Miranda On bbc1!!! @mermhart u r HIL...       en  positive
8                                      @StizZsti fino       it   neutral
9           Shopping! (@ Kohl's) http://t.co/I8ZkQHT9       en   neutral
10                 @Mizzh_ celos es tu segundo nombre       pt   neutral
11       @emilyroxxxx @melanienasson hahahahahah awww       so   neutral
12          @BeGinkiTh otak ang semangat nak blajaq !       id   neutral
13                             Quiero jugar tenis â™¥       es   neutral
14                                         Yessss ^_^       en   neutral
15     #fome (@ Picanha do Neto) http://t.co/8Bj6zaWx       pt   neutral
16  @Dennycrowe all over twitter because you and y...       en   neutral
17          @JuanChrystma chama e puxa, veem e vai...       pt   neutral
18  Tirta gangga w/@dayu_renita @tamancrizz @mika_...       id   neutral
19  ~ i'm falling apart,with a broken heart,barely...       en  negative